<!--
  Generated template for the AddUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="redNNS">
		<ion-title>Ajouter un utilisateur</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-slides pager="true">
		<ion-slide>

			<ion-scroll scrollY="true">
				<h2 style="text-align: center;">Ajouter un Etudiant</h2>
				<!--form (ngSubmit)="addStudent()" [formGroup]="slideAddStudent"-->
				<form (ngSubmit)="addStudent()">

					<ion-list>
						<div class="row" class="err-container">
							<div *ngIf="!bools[0]" class="error-msg">Error : CIN invalid, 8 chiffres au minimum</div>
							<div *ngIf="!bools[1]" class="error-msg">Error : nom invlaid , au moins deux lettres alphabetiques</div>
							<div *ngIf="!bools[2]" class="error-msg">Error : prenom invlaid , au moins deux lettres alphabetiques</div>
							<div *ngIf="!bools[4]" class="error-msg">Error : login invalid, ex : steve.jobs or steve</div>
							<div *ngIf="!bools[5]" class="error-msg">Error : password invalid, minmum 8 characteres</div>
						</div>
						<ion-item class="row">
							<ion-label color="primary" floating>CIN</ion-label>
							<ion-input [(ngModel)]="cin" required name="cin" pattern="[0-9]{8}" type="number" class="form-control" (blur)="isValid(0,0,cin)"></ion-input>


						</ion-item>

						<div class="row">


							<ion-item class="col">
								<ion-label color="primary" floating>Nom</ion-label>
								<ion-input [(ngModel)]="nom" required name="nom" pattern="[A-Za-z]{2,20}" class="form-control" (blur)="isValid(1,1,nom)"></ion-input>

							</ion-item>


							<ion-item class="col">
								<ion-label color="primary" floating>Prenom</ion-label>
								<ion-input [(ngModel)]="prenom" required name="prenom" pattern="[A-Za-z]{2,20}" class="form-control" (blur)="isValid(2,1,prenom)">

								</ion-input>

							</ion-item>

						</div>



						<ion-item>
							<ion-label>Date de Naissance</ion-label>
							<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="birthday" required name="birthday"></ion-datetime>
						</ion-item>

						<div class="row">
							<ion-item class="col">
								<ion-label color="primary" floating>Login</ion-label>
								<ion-input [(ngModel)]="login" required name="login" pattern="[a-z.]+" class="form-control" (blur)="isValid(4,3,login)"></ion-input>
							</ion-item>

							<ion-item class="col">
								<ion-label color="primary" floating>Mot de Passe</ion-label>
								<ion-input type="password" [(ngModel)]="password" required name="password" pattern="(.){8}" class="form-control" (blur)="isValid(5,4,password)">

								</ion-input>
							</ion-item>
						</div>


						<div class="row">
							<ion-item class="col">
								<ion-label>Niveau</ion-label>
								<ion-select [(ngModel)]="niveauEtude" required name="niveauEtude">
									<ion-option>1 ére année</ion-option>
									<ion-option>2 ème année</ion-option>
									<ion-option>3 ème année</ion-option>
								</ion-select>
							</ion-item>
							<ion-item class="col">
								<ion-label>Groupe</ion-label>
								<ion-select [(ngModel)]="groupe" required name="groupe">
									<ion-option>Groupe A</ion-option>
									<ion-option>Groupe B</ion-option>
								</ion-select>
							</ion-item>
						</div>

						<button ion-button color="secondary" style="margin-top:2em" type="submit" [disabled]="!checkSubmit()" (click)="verifyNotEmptyStudent()">Ajouter</button>
						<button ion-button color="danger" style="margin-top:2em" type="reset">Annuler</button>

					</ion-list>
				</form>
			</ion-scroll>
		</ion-slide>
		<ion-slide>
			<ion-scroll scrollY="true">
				<h2 style="text-align: center">Ajouter un Enseignant</h2>
				<form (ngSubmit)="addTeacher()">

					<ion-list>
						<div class="row">
							<div *ngIf="!bools[0]" class="error-msg">Error : CIN invalid, 8 chiffres au minimum</div>
							<div *ngIf="!bools[1]" class="error-msg">Error : nom invlaid , au moins deux lettres alphabetiques</div>
							<div *ngIf="!bools[2]" class="error-msg">Error : prenom invlaid , au moins deux lettres alphabetiques</div>
							<div *ngIf="!bools[4]" class="error-msg">Error : login invalid, ex : steve.jobs or steve</div>
							<div *ngIf="!bools[5]" class="error-msg">Error : password invalid, minmum 8 characteres</div>
						</div>

						<ion-item>
							<ion-label color="primary" floating>CIN</ion-label>
							<ion-input [(ngModel)]="cin" required name="cin" pattern="[0-9]{8}" type="number" class="form-control" (blur)="isValid(0,0,cin)"></ion-input>


						</ion-item>
						<div class="row">


							<ion-item class="col">
								<ion-label color="primary" floating>Nom</ion-label>
								<ion-input [(ngModel)]="nom" required name="nom" pattern="[A-Za-z]{2,20}" class="form-control" (blur)="isValid(1,1,nom)"></ion-input>
							</ion-item>

							<ion-item class="col">
								<ion-label color="primary" floating>Prenom</ion-label>
								<ion-input [(ngModel)]="prenom" required name="prenom" pattern="[A-Za-z]{2,20}" class="form-control" (blur)="isValid(2,1,prenom)">

								</ion-input>
							</ion-item>
						</div>



						<ion-item>
							<ion-label>Date de Naissance</ion-label>
							<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="birthday" required name="birthday"></ion-datetime>
						</ion-item>

						<div class="row">
							<ion-item class="col">
								<ion-label color="primary" floating>Login</ion-label>
								<ion-input [(ngModel)]="login" required name="login" pattern="[a-z.]+" class="form-control" (blur)="isValid(4,3,login)"></ion-input>
							</ion-item>

							<ion-item class="col">
								<ion-label color="primary" floating>Mot de Passe</ion-label>
								<ion-input type="password" [(ngModel)]="password" required name="password" pattern="(.){8}" class="form-control" (blur)="isValid(5,4,password)">

								</ion-input>
							</ion-item>
						</div>





						<ion-item>
							<ion-label color="primary" floating>Spécialité</ion-label>
							<ion-input [(ngModel)]="speciality" required name="speciality" class="form-control"></ion-input>
						</ion-item>

						<button ion-button color="secondary" style="margin-top:2em" type="submit" [disabled]="!checkSubmit()" (click)="verifyNotEmptyTeacher()">Ajouter</button>
						<button ion-button color="danger" style="margin-top:2em" type="reset">Annuler</button>


					</ion-list>
				</form>
			</ion-scroll>
		</ion-slide>
	</ion-slides>
</ion-content>
<!-- -->